<div class="conteudo">
    <h1>Habilidades</h1>

    <p>
        <i class="fa fa-terminal"></i> HTML <br />
        <i class="fa fa-terminal"></i> CSS <br />
        <i class="fa fa-terminal"></i> SASS (Preprocessador) <br />
        <i class="fa fa-terminal"></i> Javascript <br />
        <i class="fa fa-terminal"></i> jQuery <br />
        <i class="fa fa-terminal"></i> PHP <br />
        <i class="fa fa-terminal"></i> Firebase <br />
        <i class="fa fa-terminal"></i> MySQL <br />
    </p>

</div>