@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

@mixin radius($radius){
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;

}

@mixin transition($trans){
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

*, body {
    margin: 0;
    padding: 0;
}

a,a:hover,a:focus,a:visited{
    color: #666666;
    text-decoration: none;
}

body {
    background: #eeeeee;
    font: 14px "Roboto","Trebuchet MS", Tahoma, Arial, sans-serif;
    font-weight: 300;
    color: #666666;
}

.top {
    position: relative;
    width: 100%;
    height: 300px;
    z-index: 7;

    .top-img {
        background: url('../img/top-image.jpg');
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        height: 100%;
    }

    .top-view{
        background: -webkit-linear-gradient(to right, rgba(66, 39, 90, 0.9),rgba(115, 75, 109, 0.9));
        background: -moz-linear-gradient(to right, rgba(66, 39, 90, 0.9), rgba(115, 75, 109, 0.9));
        background: linear-gradient(to right, rgba(66, 39, 90, 0.9), rgba(115, 75, 109, 0.9));

        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;

        .content-top {
            color: #ffffff;
            text-align: center;
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);

            h1 {
                font-weight: 300;
                font-size: 34px;
            }

            small {
                font-size: 16px;
                font-weight: 100;
            }
        }
    }
}

.menu {
    width: 100%;
    height: 100%;

    ul {
        list-style: none;
        margin: 0 auto;
        width: 100%;
        height: 50px;

        li {
            display: inline-block;
            float: left;
            width: calc(100% / 4);
            cursor: pointer;
            animation: all 0.2s;
            transition: all 0.2s;
            text-align: center;
            padding: 10px 0;
            margin: 0;
            background: rgba(0,0,0,0.1);
            border-bottom: 1px solid rgba(0,0,0,0.1);

            &.active {
                background: rgba(115, 75, 109, 0.9);
                color: #ffffff;
            }

            .fa {
                padding-right: 5px;
            }

            &:hover {
                background: rgba(115, 75, 109, 0.9);
                color: #ffffff;
            }
        }

    }
}

.content {
    width: 80%;
    display: block;
    text-align: justify;
    margin: 0 auto;

    .pagina-atual{
        @include radius(5px);
        background: rgba(0,0,0,0.1);
        width: 100%;
        margin-bottom: 10px;

        .conteudo {
            padding: 20px;

            h1 {
                font-weight: 300;
            }

            .reduzir {
                width: 70%;
                margin: 0 auto;
            }

            .foto-perfil{
                @include radius(50%);
                background: url('../img/profile_image.jpg');
                width: 200px;
                height: 200px;
                background-size: cover;
                margin: 0 auto;
            }

            ol {
                list-style: none;

                li {
                    display: block;
                    padding: 10px;

                    h2 {
                        padding: 5px 15px;
                        width: auto;
                        display: inline;
                        border-bottom: 2px #666 dashed;
                        text-align: left;
                        @include transition(all 0.2s);
                    }

                    :hover > h2 {
                        background: rgba(115, 75, 109, 0.2);
                        border-bottom-color: rgba(115, 75, 109, 0.9);
                        color: rgba(115, 75, 109, 0.9);
                    }
                }
            }
        }
    }

    small, footer{
        color: #333333;

        .fa-heart{
            color: #bb3232;
        }

    }

}