<div class="conteudo">
    <h1>Projetos</h1>

    <ol>
        <li>
            <a href="https://github.com/victoorlucas/JuniorPanel"><h2>JuniorPanel</h2></a>
            <small><em>Habilidades usadas: HTML, CSS, SASS, JS, jQuery e Firebase</em></small>
        </li>
        <li>
            <a href="https://github.com/victoorlucas/victoorlucas.github.io"><h2>Meu site</h2></a>
            <small><em>Habilidades usadas: HTML, CSS, SASS, JS</em></small>
        </li>

        <li>
            <a href="#"><h2>ReforceMe</h2></a>
            <img src="./assets/img/Capturar.png">
            <small><em>Habilidades usadas: Java para Android</em></small>
        </li>
    </ol>
</div>