@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
*, body {
  margin: 0;
  padding: 0;
}

a, a:hover, a:focus, a:visited {
  color: #666666;
  text-decoration: none;
}

body {
  background: #ddd;
  font: 14px "Roboto","Trebuchet MS", Tahoma, Arial, sans-serif;
  font-weight: 300;
  color: #666666;
}

.top {
  width: 100%;
  height: 300px;
  background: url("../img/top-image.jpg");
  background-size: cover;
  background-attachment: fixed;
  box-shadow: 0 5px 15px 0 rgba(115, 75, 109, 0.9);
}


.top .top-view {
  background: -webkit-linear-gradient(to right, rgba(66, 39, 90, 0.9), rgba(115, 75, 109, 0.9));
  background: -moz-linear-gradient(to right, rgba(66, 39, 90, 0.9), rgba(115, 75, 109, 0.9));
  background: linear-gradient(to right, rgba(66, 39, 90, 0.9), rgba(115, 75, 109, 0.9));
  width: 100%;
  height: 300px;
  position: relative;
  top: 0;
}

.top .top-view .content-top {
  color: #ffffff;
}

.top .top-view .content-top small {
  font-size: 1rem;
  font-weight: 100;
}


.foto-perfil {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background: url("../img/profile_image.jpg");
  width: 200px;
  height: 200px;
  background-size: cover;
  margin: 0 auto;
}


/* Estilos de Headers */

header {
  height: 100vh;
  position: relative;
}

header.colored { /* Header colorido (roxo) */
  background: -webkit-linear-gradient(to right, rgb(66, 39, 90), rgb(115, 75, 109));
  background: -moz-linear-gradient(to right, rgb(66, 39, 90), rgb(115, 75, 109));
  background: linear-gradient(to right, rgb(66, 39, 90), rgb(115, 75, 109));
  color: #f5f5f5;
}

header.colored a {
  color: #f5f5f5;
  border-bottom: 1px dashed #f5f5f555;
}

header .content {
  text-align: justify;
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header .content h1 {
  font-weight: 300;
  font-size: 3rem;
  padding-bottom: 10px;
}

header .content .text {
  font-size: 1.2rem;
}

header .content .text ol {
  list-style: none;
}

header .content .text ol li {
  display: inline-block;
  background: rgba(255,255,255,0.1);
  padding: 10px;
  margin: 5px;
  border-radius: 3px;
  transition: all 0.1s;
}

header .content .text ol li:hover {
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
}

header .content .text ol li a {
  font-weight: bold;
}

header .content .text ol li small {
  font-size: 12px;
}

/* Outros estilos */

.fa-heart {
  color: #f00;
}

a {
  border-bottom: 1px dashed rgb(115, 75, 109);
}

.text-center {
  text-align: center;
}

.fas.fa-link {
  display: none;
}

/* Media queries */

@media screen and (max-width: 400px) {
  .top {
    height: 150px;
  }

  .top .top-view {
    height: 150px;
  }

  .top .top-view .content-top {
    text-align: center;
  }
  header {
    height: 100%;
  }

  header .content {
    position: unset;
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
  }

  header .content h1 {
    padding-top: 20px;
  }

  header .content .text {
    padding: 20px;
  }
  .fas.fa-link {
    display: inline;
  }
}