@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
*, body {
  margin: 0;
  padding: 0;
}

a, a:hover, a:focus, a:visited {
  color: #666666;
  text-decoration: none;
}

body {
  background: #eeeeee;
  font: 14px "Roboto","Trebuchet MS", Tahoma, Arial, sans-serif;
  font-weight: 300;
  color: #666666;
}

.top {
  position: relative;
  width: 100%;
  height: 300px;
  z-index: 7;
}

.top .top-img {
  background: url("../img/top-image.jpg");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

.top .top-view {
  background: -webkit-linear-gradient(to right, rgba(66, 39, 90, 0.9), rgba(115, 75, 109, 0.9));
  background: -moz-linear-gradient(to right, rgba(66, 39, 90, 0.9), rgba(115, 75, 109, 0.9));
  background: linear-gradient(to right, rgba(66, 39, 90, 0.9), rgba(115, 75, 109, 0.9));
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.top .top-view .content-top {
  color: #ffffff;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top .top-view .content-top h1 {
  font-weight: 300;
  font-size: 34px;
}

.top .top-view .content-top small {
  font-size: 16px;
  font-weight: 100;
}

.menu {
  width: 100%;
  height: 100%;
}

.menu ul {
  list-style: none;
  margin: 0 auto;
  width: 100%;
  height: 50px;
}

.menu ul li {
  display: inline-block;
  float: left;
  width: calc(100% / 4);
  cursor: pointer;
  animation: all 0.2s;
  transition: all 0.2s;
  text-align: center;
  padding: 10px 0;
  margin: 0;
  background: rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.menu ul li.active {
  background: rgba(115, 75, 109, 0.9);
  color: #ffffff;
}

.menu ul li .fa {
  padding-right: 5px;
}

.menu ul li:hover {
  background: rgba(115, 75, 109, 0.9);
  color: #ffffff;
}

.content {
  width: 80%;
  display: block;
  text-align: justify;
  margin: 0 auto;
}

.content .pagina-atual {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-bottom: 10px;
}

.content .pagina-atual .conteudo {
  padding: 20px;
}

.content .pagina-atual .conteudo h1 {
  font-weight: 300;
}

.content .pagina-atual .conteudo .reduzir {
  width: 70%;
  margin: 0 auto;
}

.content .pagina-atual .conteudo .foto-perfil {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background: url("../img/profile_image.jpg");
  width: 200px;
  height: 200px;
  background-size: cover;
  margin: 0 auto;
}

.content .pagina-atual .conteudo ol {
  list-style: none;
}

.content .pagina-atual .conteudo ol li {
  display: block;
  padding: 10px;
}

.content .pagina-atual .conteudo ol li h2 {
  padding: 5px 15px;
  width: auto;
  display: inline;
  border-bottom: 2px #666 dashed;
  text-align: left;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.content .pagina-atual .conteudo ol li :hover > h2 {
  background: rgba(115, 75, 109, 0.2);
  border-bottom-color: rgba(115, 75, 109, 0.9);
  color: rgba(115, 75, 109, 0.9);
}

.content small, .content footer {
  color: #333333;
}

.content small .fa-heart, .content footer .fa-heart {
  color: #bb3232;
}
